---
import { Button } from "@/components/ui/button";
import Layout from "../layout/layout.astro";
import project from "./project/project.json";
import { Icon } from "astro-icon";
import project_ from "./project/project2.json";

export const useHalfText = (value, size) => {
    if (value.length > size) {
        return value.slice(0, size) + "...";
    }

    return value;
};

const primar = [
    { name: "Next", icon: "logos:nextjs" },
    { name: "React", icon: "logos:react" },
    { name: "Prisma", icon: "simple-icons:prisma" },
    { name: "Tailwind", icon: "logos:tailwindcss-icon" },
    { name: "Postgresql", icon: "logos:postgresql" },
];

export const contact = {
        "email": {
            "name": "mailto:kiraaziz2020@gmail.com",
            "icon": "1",
        },
        "phone": {
            "name": "tel:+216 93 989 486",
            "icon": "2",
        },
        "whatsup": {
            "name": "https://wa.me/27028711",
            "icon": "3",
        },
        "facebook": {
            "name": "https://www.facebook.com/aziz.kira.581/",
            "icon": "4",
        },
        "github": {
            "name": "https://github.com/kiraaziz",
            "icon": "5",
        },
        "linkedin": {
            "name": "https://www.linkedin.com/in/med-aziz-rjeibi-3b07832a5/",
            "icon": "6"
        },
        "devto": {
            "name": "https://dev.to/kiraaziz",
            "icon": "7",
        }
    }
---

<Layout>
    <!-- <div class="w-full max-w-3xl flex items-center justify-center flex-col    ">
            <h1 class="text-2xl lg:text-5xl text-white font-semibold text-center">
                👋 Hello There my name is 
                <span class="underline decoration-purple-600 font-bold">Aziz</span>
            </h1>
            <p class="text-white/90 text-base lg:text-lg mt-0.5 opacity-80 text-center">
                I am Rjeibi Med Aziz aka KIRA And I am full stack developer
            </p> -->

    <div class="w-full max-w-3xl mx-auto">
        <!-- <div class="mt-5 lg:mt-20 lg:text-center">
            <h1 class="text-lg lg:text-4xl mx-auto font-bold">
                👋 Hello There my name is Aziz
            </h1>
            <div class="text-foreground/70 mx-auto mt-2">
                <p>
                    I am Rjeibi Med Aziz, also known as KIRA, a full-stack
                    developer with a year and a half of real experience. With a
                    collection of fun and useful SaaS and apps that I have
                    built, I can transform your ideas into <span
                        class="bg-secondary/10 text-secondary px-1"
                        >reality 🎉🔥</span
                    >
                </p>
            </div>
        </div> -->
        <div class="w-full mt-5 lg:mt-20">
            <div class="flex items-center justify-between gap-3">
                <div class="flex items-start justify-between w-full flex-col">
                    <h1 class="text-xl font-bold">About me</h1>
                    <p class="text- txet-sm text-foreground/60">
                        Hello! I'm Kira Aziz, a software developer from Tunisia
                        🇹🇳. I'll graduate next year 🎓 from ISLIAB Beja with a
                        Computer Science degree, also I have 1.5 years of remote
                        full-stack development experience with KomabsNet. I
                        enjoy creating my own apps, including Light AI ✨,
                        Schooler 📚, and NeoFlow 🔄. Feel free to check them
                        out! 😊
                    </p>
                </div>
                <img
                    src="/me.jpg"
                    class="w-40 rounded-full border hidden lg:block"
                />
            </div>
        </div>
        <div class="w-full mt-5 lg:mt-20">
            <div class="flex items-center justify-between w-full mt-5 lg:mt-10">
                <h1 class="text-xl font-bold">Top apps</h1>

                <a
                    class="text-sm font-light text-foreground/60 gap-2 transition-all ease-in-out duration-200 lg:hover:gap-5 flex items-center justify-center"
                    href="/project"
                >
                    Read more
                    <Icon name="lucide:arrow-right" size="20" />
                </a>
            </div>
            <div class="space-y-2 mt-4">
                {
                    project.slice(0, 5).map((p) => (
                        <div class="w-full p-3 rounded-lg bg-card border flex gap-4">
                            <img src={`/svg/${p.logo}.svg`} class="h-10 mt-1" />
                            <div class="flex-1">
                                <div class="flex gap-2 flex-wrap">
                                    <h1 class="text-lg font-semibold">
                                        {p.name}
                                    </h1>
                                    {p.tags &&
                                        p.tags
                                            .split(" ")
                                            .splice(0, 3)
                                            .map((tag) => (
                                                <div class="hover:cursor-pointer text-xs text-secondary bg-secondary/5 px-2 rounded-full flex items-center justify-center my-auto h-max py-1">
                                                    {tag}
                                                </div>
                                            ))}
                                </div>
                                <p class="text-sm font-light text-foreground/60 max-w-md">
                                    {useHalfText(p.description, 80)}
                                </p>
                                <div class="w-full flex items-center justify-end">
                                    <a href={p.url} class="my-auto">
                                        <Button className="mt-4 lg:hidden flex items-center justify-center gap-2 bg-primary/10 text-primary">
                                            visite
                                            <Icon
                                                name="lucide:arrow-right"
                                                size="20"
                                            />
                                        </Button>
                                    </a>
                                </div>
                            </div>
                            <a href={p.url} class="my-auto hidden lg:block">
                                <Button
                                    size="icon"
                                    variant="outline"
                                    className="rounded-full transition-all ease-in-out duration-200"
                                >
                                    <Icon name="lucide:arrow-right" size="20" />
                                </Button>
                            </a>
                        </div>
                    ))
                }
            </div>
        </div>
        <div class="w-full mt-5 lg:mt-20">
            <h1 class="text-xl font-bold mx-auto mb-2 w-max">
                My Current Tech Stack
            </h1>
            <div
                class="w-max mx-auto max-w-full flex items-center justify-center flex-wrap gap-3"
            >
                {
                    primar.map((p) => (
                        <div class="flex items-center justify-center rounded-full ease-in-out duration-200 lg:hover:-translate-y-2 lg:hover:scale-110 lg:hover:cursor-pointer">
                            <div class="p-3 border rounded-full bg-card">
                                <Icon name={p.icon} size="40" fill="white" />
                            </div>
                        </div>
                    ))
                }
            </div>
        </div>
        <div class="w-full mt-5 lg:mt-20">
            <h1 class="text-xl font-bold">Experience</h1>
            <div class="w-full flex items-center justify-between mt-2">
                <h3
                    class="text-foreground/90 flex items-center justify-center w-max gap-1"
                >
                    <img
                        class="h-10 w-10 rounded object-cover"
                        src="/city.jpg"
                    /> KombasNet Monastir
                </h3>
                <p
                    class="text-sm font-light text-foreground/60 hidden lg:block"
                >
                    June 2023-Present
                </p>
            </div>
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-2 mt-3">
                {
                    [...project_].slice(0, 3).map((p: any) => (
                        <div class=" border rounded-lg overflow-hidden bg-card">
                            <img
                                src={p.images[0].replace(
                                    "upload",
                                    "upload/w_400",
                                )}
                                class="w-full h-40 bg-muted object-cover"
                            />
                            <div class="p-4">
                                <h1 class="text-base font-bold">{p.name}</h1>
                                <p class="text-sm font-light text-foreground/60">
                                    {useHalfText(p.description, 70)}
                                </p>
                                <div class="w-full flex items-center justify-end mt-5">
                                    <a href={`/project/${p.md}`}>
                                        <Button
                                            className="gap-2 transition-all ease-in-out duration-200 lg:hover:gap-5"
                                            variant="outline"
                                        >
                                            Read more
                                            <Icon
                                                name="lucide:arrow-right"
                                                size="20"
                                            />
                                        </Button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    ))
                }
            </div>
        </div>
        <div class="w-full mt-5 lg:mt-20">
            <h1 class="text-2xl font-bold mx-auto mb-2 w-max">Get in Touch</h1>
            <p class="text-center max-w-2xl mx-auto text- text-foreground/60">
                Have a question, feedback, or just want to say hello? We'd love
                to hear from you! Feel free to reach out using the contact
                information below, and we'll get back to you as soon as
                possible.
            </p>
            <div class='overflow-visible p-2 w-max bg-card rounded-full border mx-auto mt-10 flex items-center justify-center gap-2  ease-in-out duration-200'>
                {Object.keys(contact).map((link) => (
                    <a href={contact[link].name} class='lg:hover:bg-secondary h-8 w-8 flex items-center justify-center rounded-full lg:hover:mx-3 lg:hover:-translate-y-1 ease-in-out duration-200  lg:hover:shadow-[0px_0px_10px_1px] lg:hover:shadow-secondary'>
                        <img src={`/contact/${contact[link].icon}.svg`} height={20} width={20}/>
                    </a>
                ))}
            </div>
        </div>
    </div>
</Layout>
